.home-component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    background-color: rgb(48, 40, 72);
    margin-bottom: 10rem;
    /* background-image: url("../assets/home/bg.jpg"); */
}